<% if stats.length > 0 %>
  <div>
    <span>
      <%= stats.length %>
    </span>
    unredeemed <%= 'credit'.pluralize(stats.length) %> for
    <span>
      $<%= stats.reduce(0, &:+) %>
    </span>
  </div>
<% end %>
