<div class="dealer">
  <div class="name">
    <%= dealer.name %>
  </div>
    <div class="image">
      <%= image_tag(dealer.image || "#{dealer.category}.png") %>
    </div>
  <div>
    <%= button_to "Add", credits_path, method: :get, params: { dealer_id: dealer.id } %>
  </div>
  <% if dealer.credits_count.positive? %>
    <div class="credits-count">
      <%= "#{dealer.credits_count} credits 🌎" %>
    </div>
  <% end %>
</div>
