<div class="dealer">
  <div class="name">
    <%= dealer.name %>
  </div>
  <div class="credits-count">
    <%= dealer.credits_count %>
  </div>
  <div>
    <%= button_to "Add", credits_path, method: :get, params: { dealer_id: dealer.id } %>
  </div>
</div>
